.container {
    width: 300px;
    margin: 0 auto;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 20px;
}

.inputs {
    margin-bottom: 20px;
}

.input {
    margin-bottom: 10px;
}

.input input {
    width: 100%;
    padding: 8px;
    border: none;
    border-bottom: 1px solid #1f0f0f;
    border-radius: 0;
    box-sizing: border-box;
}

.input input:focus {
    outline: none;
}

.input-group {
    border: 1px solid #000000; /* Border outside the input fields */
    border-radius: 5px;
    padding: 10px;
}

.submit-container {
    display: flex;
    justify-content: space-between;
}

.submit {
    width: calc(50% - 5px);
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submit:hover {
    background-color: #0056b3;
}
